DATABASE_URL=""
NEXTAUTH_URL=""

#Google OAuth Credentials:
GOOGLE_ID=""
GOOGLE_SECRET=""
#GitHub OAuth Credentials
GITHUB_ID=""
GITHUB_SECRET=""
#Linkedin OAuth Credentials
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""

RESEND_API_KEY=""